@model Lab4_5_6_7.Models.Category
@{
    ViewBag.Title = "Delete";
}

<div class="row col-12 mt-5">
    <h3>@Resources.Resource.CatConfirm "@Model.CategoryName"</h3>
    <div class="form-group mt-5">
        <a href="~/Lab7/CatConfirm/@Model.Id" class="btn btn-outline-danger col-5">@Resources.Resource.Delete</a>
        <a href="~/Lab7/CategoryTable" class="btn btn-outline-primary offset-1 col-5">@Resources.Resource.Cancel</a>
    </div>
</div>

