
@{
    ViewBag.Title = "Thanks";
}

<div class="row">
    <h1 class="text-center mt-5">@Resources.Resource.Thanks</h1>
    <a class="btn btn-info col-4 mt-5" style="margin-left: auto; margin-right: auto;" href="~/Lab7/Index">@Resources.Resource.Return</a>
</div>

