@model List<Lab3.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var Item in Model)
    {
        <a href="~/Home/Buy/@Item.Id" class="card col-3 m-5 p-2" style="color: black; text-decoration: none;">
            <img src="~/File/@Item.File" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Item.ProductName</h5>
                <p class="card-text">@Item.Description</p>
                <p class="card-text">Ціна: @Item.Price грн.</p>
            </div>
        </a>
    }
</div>